<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>测试页面</title>
    <style>
        body {background: #fff;}
    </style>
</head>
<body>
    <div id="demo">
        <p v-model="message"></p>
        <p v-model="select"></p>
        <p v-model="radio"></p>
        <p v-model="checkbox"></p>
        <input v-model="message" type="text">
        <textarea v-model="message"></textarea>
        <select v-model="select"><option value="1">11</option><option value="2">22</option></select>
        <input v-model="radio" name="sex" type="radio" value="男"> 男
        <input v-model="radio" name="sex" type="radio" value="女"> 女
        <input v-model="checkbox" type="checkbox" value="多选1"> 多选1
        <input v-model="checkbox" type="checkbox" value="多选2"> 多选2

        <div v-template="arr">
            <script type="text/html">
                <% for(i = 0; i < _v.length; i++) {%>
                    <li class="<% if(i) {%>on<% } %>"><%=_v[i].id%></li>
                <%}%>
            </script>
        </div>

    </div>

    <script src="sheBind.js"></script>
    <script>
        var demo = new sheBind({
            el: '#demo',
            data: {
                message: 'Hello bind.js!',
                select: "2",
                checkbox: "多选1,多选2",
                radio: "女",
                arr:[{id:1}, {id:2}]
            }
        });


        setTimeout(function() {
            demo.data.change({
                message:"222",
                // arr:[{id:14},{id:14},{id:14},{id:14}]
            })
            // demo.data.changeKey("message", "nan")
            demo.data.addArray("arr", {id:6})
        }, 1000);
    </script>
</body>
</html>